<!DOCTYPE html>
<html>
  <head>
    <title>Piece: <%=item.pieceTi%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div id=piece itemscope itemtype="http://schema.org/CreativeWork/MusicComposition">
    <!-- We extended the CreativeWork schema to a narrower type for a music composition to allow for certain attributes that would apply to a music composition but woult not apply to a broader creative work (such as tessitura). -->
        <a rel="index" href="/"><h1>Accelerando</h1></a>
        <dl>
        <h2>Piece Information</h2>
          <dt><h3>Title</h3></dt>
          <dd><span class="pieceTitle" itemprop="name" itemid="<%=item.pieceID%>"><%=item.pieceTi%></span></dd>
          <div itemprop="http://purl.org/dc/terms/isPartOf" itemscope itemtype="http://schema.org/CreativeWork/MusicComposition">
            <dt><h3>Associated Cycle</h3></dt>
            <dd><span class="cycleTitle" itemprop="name" itemid="<%=item.cycleID%>"><%=item.CycleTi%></span></dd>
          </div>
   <% if (item.opusNumber) { %>
          <dt><h3>Opus Number</h3></dt>
          <!-- "opusNumber" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="opusNumber" itemprop="opusNumber"><%=item.opusNumber%></span></dd>
    <% } %>
    <% if (item.numberWi) { %>
          <dt><h3>Number within Opus</h3></dt>
          <!-- "numberWiOpus" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="numberWiOpus" itemprop="numberWiOpus"><%=item.numberWi%></span></dd>
    <% } %>
    <% if (item.genre) { %>
          <dt><h3>Genre</h3></dt>
          <dd><span class="genre" itemprop="genre"><%=item.genre%></span></dd>
    <% } %>
          <dt><h3>Original Language</h3></dt>
          <dd><span class="language" itemprop="inLanguage"><%=item.orgLang%><span></dd>
    <% if (item.altLang) { %>
    	  <dt><h3>Alternate Language</h3></dt>
          <!-- "altLanguage" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="altLanguage" itemprop="altLanguage"><%=item.altLang%></span></dd>
    <% } %>
    <% if (item.compDateNum) { %>	 
    	  <dt><h3>Composition Date (numeric)</h3></dt>
          <dd><span class="compDateNum" itemprop="dateCreated"><%=item.compDateNum%></span></dd>
    <% } %>
    <% if (item.compDateText) { %>
          <dt><h3>Composition Date (text)</h3></dt>
          <dd><span class="compDateText" itemprop="dateCreated"><%=item.compDateText%></span></dd>
    <% } %>
   <% if (item.pieceDescription) { %>
          <dt><h3>Piece Description</h3></dt>
          <dd><span class="pieceDescription" itemprop="description"><%=item.pieceDescription%></span></dd>
    <% } %>
    <br/>
    <h3>Creator and Source Information</h3>
          <!-- If multiple items in a definition list are associated with a different type in schema.org than CreativeWork or a different instance of CreativeWork than a piece, wrap those list items in a div and add the itemscope and itemtype attributes. -->
          <!-- "creator/composer" and "creator/poet" extends the existing property "creator" of CreativeWork. -->
    <% if (item.comp) { %>
          <div itemprop="creator/composer" itemscope itemtype="http://schema.org/Person">
        	  <dt><h3>Composer</h3></dt>
              <dd><span class="composerName" itemprop="name" itemid="<%=item.compID%>"><%=item.comp%></span></dd>
        	  <dt><h3>Composer's Nationality</h3></dt>
              <dd><span class="composerNationality" itemprop="nationality"><%=item.compNat%></span></dd>
          </div>
    <% } %>
    <% if (item.poet) { %>
          <div itemprop="creator/poet" itemscope itemtype="http://schema.org/Person">
        	  <dt><h3>Poet</h3></dt>
              <dd><span class="poetName" itemprop="name" itemid="%=item.poetID%>"><%=item.poet%></span></dd>
        	  <dt><h3>Poet's Nationality</h3></dt>
              <dd><span class=PoetNationality itemprop="nationality"><%=item.poetNat%></span></dd>
          </div>
    <% } %>
    <% if (item.txtSrc) { %>
          <dt><h3>Text Source</h3></dt>
          <!-- "textSource" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="textsource" itemprop="textSource"><%=item.txtSrc%></span></dd>
    <% } %>
    <br/>
    <h3>Subject Information</h3>
    <% if (item.char) { %>
          <div itemprop="associatedCharacter" itemscope itemtype="http://schema.org/Person/Character">
          <!-- We extended the Person schema to a narrower type for a character to allow for certain attributes that would apply to a character but would not apply to an actual person (such as ageRange). -->
              <dt><h3>Associated Character</h3></dt>
              <dd><span class="characterName" itemprop="name"><%=item.char%></span></dd>
              <dt><h3>Gender of Associated Character</h3></dt>
              <dd><span class="characterGender" itemprop="gender"><%=item.charGender%></span></dd>
              <dt><h3>Age Range of Associated Character</h3></dt>
              <!-- "ageRange" is a property of Character, a narrower type of Person that we propose. -->
              <dd><span class="ageRange" itemprop="ageRange"><%=item.charAgeRange%></span></dd>
              <dt><h3>Social Status of Associated Character</h3></dt>
              <!-- "socialStatus" is a property of Character, a narrower type of Person that we propose. -->
              <dd><span class="socialStatus" itemprop="socialStatus"><%=item.charSocStat%></span></dd>
          </div>
    <% } %>
    <% if (item.subject) { %>
          <dt><h3>Subject</h3></dt>
          <dd><span class="subject" itemprop="about" itemid="<%=item.subjectID%>"><%=item.subject%></span></dd>
    <% } %>
    <% if (item.mood) { %>
    	  <dt><h3>Mood</h3></dt>
          <dd><span class="mood" itemprop="keywords"><%=item.mood%></span></dd>
    <% } %>
    
    <h2>Musical Characteristics</h2>
          <dt></h3>Instrumentation</h3></dt>
          <!-- "instrumentation" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="instrumentation" itemprop="instrumentation"><%=item.inst%></span></dd>
    	  <dt><h3>Original Key</h3></dt>
          <!-- "key" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="key" itemprop="key"><%=item.key%></span></dd>
    <% if (item.altKey) { %>
          <dt><h3>Alternate Key</h3></dt>
          <!-- "altKey" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="altKey" itemprop="altKey"><%item.altKey%></span></dd>
    <% } %>
    <% if (item.tempo) { %>
    	  <dt><h3>Tempo</h3></dt>
          <!-- "tempo" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="tempo" itemprop="tempo"><%=item.tempo%></span></dd>
    <% } %>
    <% if (item.metMark) { %>
          <dt><h3>Metronome Marking</h3></dt>
          <!-- "metMark" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="metronome" itemprop="metMark"><%=item.metMark%></span></dd>
    <% } %>
    	  <dt><h3>Range</h3></dt>
          <!-- "range" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="range" itemprop="range"><%=item.range%></span></dd>
    <% if (item.tessitura) { %>
    	  <dt><h3>Tessitura</h3></dt>
          <!-- "tessitura" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="tessitura" itemprop="tessitura"><%=item.tess%></span></dd>
    <% } %>
    	  <dt><h3>Difficulty</h3></dt>
          <!-- "difficulty" is a property of MusicComposition, a narrower type of CreativeWork that we propose. -->
          <dd><span class="difficulty" itemprop="difficulty"><%=item.diff%></span></dd> 
  <br/>
  <h3>Related Resources</h3>
          <!-- "about" in the lines below is a placeholder for now until we hear from Ryan -->
    <% if (item.imslp) { %>
          <dt><a rel="external" itemprop="http://purl.org/dc/terms/relation" href="<%=item.imslp%>"><h4>IMSLP Resource</h4></a></dt>
    <% } %>
    <% if (item.worldCat) { %>
        <dt><a rel="external" itemprop="http://purl.org/dc/terms/relation" href="<%=item.worldCat%>"><h4>WorldCat Query</h4></a></dt>
     <% } %>  
       </dl>
    </div>
<br/>
<br/>
<br/>
    <div class="admin-forms">
      <h3>Update piece</h3>
      <form id="update-piece" method="post" action="/pieces/<%=item._id%>">
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <h3>Piece Information</h3>
        <label>Title:
          <input name="item[pieceTi]" value="<%=item.pieceTi%>" type="text" required>
        </label>
        <label>LC Identifier of Piece:
          <input name="item[pieceID]" value="<%=item.pieceID%>" type="text">
        </label>
      	<label>Associated Cycle:
          <input name="item[cycleTi]" value="<%=item.cycleTi%>" type="text" required>
        </label>
        <label>LC Identifier of Cycle:
          <input name="item[cycleID]" value="<%=item.cycleID%>" type="text">
        </label>
        <label>Opus Number:
          <input name="item[opusNumber]" value="<%=item.opusNumber%>" type="text">
        </label>
        <label>Number within Opus:
          <input name="item[numberWi]" value="<%=item.numberWi%>" type="number">
        </label>
        <label>Genre:
          <input name="item[genre]" value="<%=item.genre%>" type="text">
        </label>
       	<label>Original Language:
          <input name="item[orgLang]" value="<%=item.orgLang%>" type="text" required>
        </label>
		<label>Alternate Language:
          <input name="item[altLang]" value="<%=item.altLang%>" type="text">
        </label>
		<label>Composition Date (numeric):
          <input name="item[compDateNum]" value="<%=item.compDateNum%>" type="date">
        </label>
        <label>Composition Date (text):
          <input name="item[compDateText]" value="<%=item.compDateText%>" type="text" required>
        </label>
       <label>Piece Description:
          <textarea name="item[pieceDescription]"cols="50" rows="10" ><%=item.pieceDescription%></textarea>
        </label>
        <h3>Creator and Source Information</h3>
		<label>Composer:
          <input name="item[comp]" value="<%=item.comp%>" type="text">
		</label>
        <label>LC Identifier of Composer:
          <input name="item[compID]" value="<%=item.compID%>" type="text">
        </label>
		<label>Composer Nationality:
          <input name="item[compNat]" value="<%=item.compNat%>" type="text">
        </label>
		<label>Poet:
          <input name="item[poet]" value="<%=item.poet%>" type="text">
        </label>
        <label>LC Identifier of Poet:
          <input name="item[poetID]" value="<%=item.poetID%>" type="text">
        </label>
		<label>Poet Nationality:
          <input name="item[poetNat]" value="<%=item.poetNat%>" type="text">
        </label>
     	<label>Text Source:
          <input name="item[txtSrc]" value="<%=item.txtSrc%>" type="text">
        </label>

        <h3>Subject Information</h3>
       <label>Associated Character:
          <input name="item[char]" value="<%=item.char%>" type="text">
        </label>
        <label>Gender of Associated Character:
          <input name="item[charGender]" value="<%=item.charGender%>" type="text">
        </label>
        <label>Age Range of Associated Character:
          <input name="item[charAgeRange]" value="<%=item.charAgeRange%>" type="text">
        </label>
        <label>Social Status of Associated Character:
          <input name="item[charSocStat]" value="<%=item.charSocStat%>" type="text">
        </label>
        <label>Subject:
          <input name="item[subject]" value="<%=item.subject%>" type="text">
        </label>
        <label>LC Identifier of Subject:
          <input name="item[subjectID]" value="<%=item.subjectID%>" type="text">
        </label>
    	<label>Mood:
          <input name="item[mood]" value="<%=item.mood%>" type="text">
        </label>

	    <h3>Musical Characteristics</h3>
       	<label>Instrumentation:
          <input name="item[inst]" value="<%=item.inst%>" type="text" required>
        </label>
		<label>Original Key: 
          <input name="item[key]" value="<%=item.key%>" type="text" required>
        </label>
        <label>Alternate Key:
          <input name="item[altKey]" value="<%=item.altKey%>" type="text">
        </label>
		<label>Tempo:
          <input name="item[tempo]" value="<%=item.tempo%>" type="text">
        </label>
        <label>Metronome Marking:
          <input name="item[metMark]" value="<%=item.metMark%>" type="text">
        </label>
		<label>Range:
          <input name="item[range]" value="<%=item.range%>" type="text" required>
        </label>
		<label>Tessitura:
          <input name="item[tess]" value="<%=item.tess%>" type="text">
        </label>
		<label>Difficulty:
          <input name="item[diff]" value="<%=item.diff%>" type="text">
        </label>

		<h3>Related Resources</h3>
        <label>IMSLP Resource:
          <input name="item[imslp]" value="<%=item.imslp%>" type="text">
        </label>
        <label>WorldCat Query:
          <input name="item[worldCat]" value="<%=item.worldCat%>" type="text">
        </label>
        <button>Update Piece</button>
      </form>
    </div>
  </body>
</html>