<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <div itemscope itemtype="http://schema.org/CreativeWork/MusicComposition">
        <a href="/"><h1>Cycle</h1></a>
        <dl>
          <dt>Title</dt>
            <dd><span itemprop="name"><%=item.cycleTi%></span></dd>
          <div itemprop="creator/composer" itemscope itemtype="http://schema.org/Person">
              <dt>Composer</dt>
              <dd><span itemprop="name"><%=item.comp%></span></dd>
        	  <dt>Composer's Nationality</dt>
              <dd><span itemprop="nationality"><%=item.compNat%></span></dd>
          </div>
          <dt>Genre</dt>
            <dd><span itemprop="genre"><%=item.genre%></span></dd>
          <dt>Difficulty</dt>
            <dd><span itemprop="difficulty"><%=item.diff%></span></dd> 

        <% if (item.description) { %>

          <dt>Description</dt>
            <dd><%=item.description%></dd>
            <% } %>
          <dt>Associated Pieces</dt>
            <dd><a href="/pieces/<%=item.PieceTi%>"><%=item.PieceTi%></a></dd>
    </div>

<!--I did not include "Composition Date" within Cycle because the composition dates of the individual pieces may be different. I also deleted this from the "update the cycle" form.-->

      <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a href="/pieces/<%=related_item._id%>">
              <%=related_item.name%>
            </a>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        No pieces have been added to this cycle.
        <% } %>
      </dd>
    </dl>
    <div class="control">
      <h2>Add a new piece</h2>
    <form id="create-piece" method="post" action="/pieces/">
        <input type="hidden" name="item[cycle]" value="<%=item._id%>">
    <!-- The line above links the piece to be created to this cycle. -->
        <label>Title:
          <input name="item[pieceTi]" type="text" required>
        </label>
        <label>Opus Number:
          <input name="item[opusNumber]" type="text">
        </label>
        <label>Number within Opus:
          <input name="item[numberWi]" type="number">
        </label>
    	<label>Associated Cycle:
          <input name="item[cycleTi]" value="<%=item.cycleTi%>" type="text">
        </label>
		<label>Composition Date (numeric):
          <input name="item[compDateNum]" type="date">
        </label>
        <label>Composition Date (text):
          <input name="item[compDateText]" type="text" required>
        </label>
		<label>Composer:
          <input name="item[comp]" value="<%=item.comp%>" type="text">
		</label>
		<label>Composer Nationality:
          <input name="item[compNat]" value="<%=item.compNat%>" type="text">
        </label>
		<label>Poet:
          <input name="item[poet]" type="text">
        </label>
		<label>Poet Nationality:
          <input name="item[poetNat]" type="text">
        </label>
		<label>Instrumentation:
          <input name="item[inst]" type="text" required>
        </label>
		<label>Text Source:
          <input name="item[txtSrc]" type="text">
        </label>
		<label>Original Language:
          <input name="item[orgLang]" type="text" required>
        </label>
		<label>Alternate Language:
          <input name="item[altLang]" type="text">
        </label>
		<label>Genre:
          <input name="item[genre]" type="text">
        </label>
		<label>Associated Character:
          <input name="item[char]" type="text">
        </label>
        <label>Gender of Associated Character:
          <input name="item[char]" type="text">
        </label>
        <label>Age Range of Associated Character:
          <input name="item[charAgeRange]" type="text">
        </label>
        <label>Social Status of Associated Character:
          <input name="item[charSocStat]" type="text">
        </label>
		<label>Key: 
          <input name="item[key]" type="text" required>
        </label>
        <label>Alternate Key:
          <input name="item[altKey]" type="text">
        </label>
		<label>Tempo:
          <input name="item[tempo]" type="text">
        </label>
        <label>Metronome Marking:
          <input name="item[metMark]" type="text">
        </label>
		<label>Range:
          <input name="item[range]" type="text" required>
        </label>
		<label>Tessitura:
          <input name="item[tess]" type="text">
        </label>
		<label>Difficulty:
          <input name="item[diff]" type="text">
        </label>
		<label>Subject:
          <input name="item[title]" type="text">
        </label>
		<label>Mood:
          <input name="item[mood]" type="text">
        </label>
        <button>Add Piece</button>
      </form>
    </div>
<div>
<h2>Update the cycle</h2>
<!--What is this script for?-->
    <script>
      function onFormSubmit(form) {
        form.action = form.action + form.elements['item[id]'].value;
        console.log(form.action);
        return true;
      } 
      </script>
      <form id='update-cycle' method="post" action="/cycles/"
            onsubmit="return onFormSubmit(this);">
        <!-- The line above dynamically sets the PUT destination when the -->
        <!-- form is submitted. -------------------------------------------->
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Title: 
          <input name="item[cycleTi]" value="<%=item.cycleTi%>" type="text" required>
        </label>
        <label>Opus Number: 
          <input name="item[opusNumber]" value="<%=item.opusNumber%>" type="text">
        </label>
		<label>Composer: 
          <input name="item[comp]" value="<%=item.comp%>" type="text">
		</label>
		<label>Composer Nationality: 
          <input name="item[compNat]" value="<%=item.compNat%>" type="text">
        </label>
		<label>Genre: 
          <input name="item[genre]" value="<%=item.genre%>" type="text">
        </label>
		<label>Difficulty: 
          <input name="item[diff]" value="<%=item.diff%>" type="text">
        </label>
        <label>Notes:
            <input name="item[desc]" value="<%=item.desc%>" type="textarea">
        </label>
        <button>Update</button>
      </form>
</div>
  </body>
</html>
