<!DOCTYPE html>
<html>
  <head>
    <title>Accelerando: <%=item.name%></title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Accelerando</h1></a>
    <div itemscope itemtype="http://schema.org/CreativeWork/MusicComposition">
        <a rel="index" href="/"><h1>Cycle</h1></a>
        <dl>
          <dt>Title</dt>
          <dd><span class="cycleTitle" itemprop="name" itemid="<%=item.cycleID%>"><%=item.cycleTi%></span></dd>
        
    <% if (item.comp) { %>
        <div itemprop="creator/composer" itemscope itemtype="http://schema.org/Person">
              <dt>Composer</dt>
              <dd><span class="composerName" itemprop="name"><%=item.comp%></span></dd>
        	  <dt>Composer's Nationality</dt>
              <dd><span class="composerNationality" itemprop="nationality"><%=item.compNat%></span></dd>
          </div>
    <% } %>
    <% if (item.genre) { %>
          <dt>Genre</dt>
            <dd><span class="genre" itemprop="genre"><%=item.genre%></span></dd>
    <% } %>
    <% if (item.diff) { %>
          <dt>Difficulty</dt>
            <dd><span class="difficulty" itemprop="difficulty"><%=item.diff%></span></dd> 
    <% } %>
    <% if (item.description) { %>

          <dt>Description</dt>
            <dd><span class="cycleDescription" itemprop="description"><%=item.cycleDescription%></span></dd>
    <% } %>
          <dt>Associated Pieces</dt>
          <dd>
        <% if (related_items.length > 0) { %>
        <ul>
          <% related_items.forEach(function(related_item) { %>
          <li>
            <a rel="piece" href="/pieces/<%=related_item._id%>">
                <%=related_item.pieceTi%>
            </a>
          </li>
          <% }); %>
        </ul>
    <% } else { %>
        No pieces have been added to this cycle.
    <% } %>
      </dd>
<!--I did not include "Composition Date" within Cycle because the composition dates of the individual pieces may be different. I also deleted this from the "update the cycle" form.-->
    </dl>
    <div class="admin-forms">
      <h2>Add a new piece</h2>
    <form id="create-piece" method="post" action="/pieces/">
        <input type="hidden" name="item[cycle]" value="<%=item._id%>">
    <!-- The line above links the piece to be created to this cycle. -->
        <label>Title:
          <input name="item[pieceTi]" type="text" required>
        </label>
        <label>LC Identifier of Piece:
          <input name="item[pieceID]" type="text">
        </label>
        <label>Opus Number:
          <input name="item[opusNumber]" type="text">
        </label>
        <label>Number within Opus:
          <input name="item[numberWi]" type="number">
        </label>
    	<label>Associated Cycle:
          <input name="item[cycleTi]" value="<%=item.cycleTi%>" type="text">
        </label>
		<label>Composition Date (numeric):
          <input name="item[compDateNum]" type="date">
        </label>
        <label>Composition Date (text):
          <input name="item[compDateText]" type="text" required>
        </label>
		<label>Composer:
          <input name="item[comp]" value="<%=item.comp%>" type="text">
		</label>
        <label>LC Identifier of Composer:
          <input name="item[compID]" value="<%=item.compID%>" type="text">
        </label>
		<label>Composer Nationality:
          <input name="item[compNat]" value="<%=item.compNat%>" type="text">
        </label>
		<label>Poet:
          <input name="item[poet]" type="text">
        </label>
        <label>LC Identifier of Poet:
          <input name="item[poetID]" type="text">
        </label>
		<label>Poet Nationality:
          <input name="item[poetNat]" type="text">
        </label>
		<label>Instrumentation:
          <input name="item[inst]" type="text" required>
        </label>
		<label>Text Source:
          <input name="item[txtSrc]" type="text">
        </label>
		<label>Original Language:
          <input name="item[orgLang]" type="text" required>
        </label>
		<label>Alternate Language:
          <input name="item[altLang]" type="text">
        </label>
		<label>Genre:
          <input name="item[genre]" type="text">
        </label>
		<label>Associated Character:
          <input name="item[char]" type="text">
        </label>
        <label>Gender of Associated Character:
          <input name="item[charGender]" type="text">
        </label>
        <label>Age Range of Associated Character:
          <input name="item[charAgeRange]" type="text">
        </label>
        <label>Social Status of Associated Character:
          <input name="item[charSocStat]" type="text">
        </label>
		<label>Key: 
          <input name="item[key]" type="text" required>
        </label>
        <label>Alternate Key:
          <input name="item[altKey]" type="text">
        </label>
		<label>Tempo:
          <input name="item[tempo]" type="text">
        </label>
        <label>Metronome Marking:
          <input name="item[metMark]" type="text">
        </label>
		<label>Range:
          <input name="item[range]" type="text" required>
        </label>
		<label>Tessitura:
          <input name="item[tess]" type="text">
        </label>
		<label>Difficulty:
          <input name="item[diff]" type="text">
        </label>
		<label>Subject:
          <input name="item[title]" type="text">
        </label>
		<label>Mood:
          <input name="item[mood]" type="text">
        </label>
        <label>IMSLP Resource:
          <input name="item[imslp]" type="text">
        </label>
        <label>WorldCat Query:
          <input name="item[worldCat]" type="text">
        </label>
        <label>Piece Description:
          <textarea name="item[pieceDescription]"cols="50" rows="10" ></textarea>
        </label>
        <button>Add Piece</button>
      </form>
    </div>
<div>
<h2>Update the cycle</h2>
<      <form id="update-cycle" method="post" action="/cycles/<%=item._id%>"
        <input type="hidden" name="_method" value="put">
        <!-- The line above tells the server to treat this as a PUT request. -->
        <label>Title: 
          <input name="item[cycleTi]" value="<%=item.cycleTi%>" type="text" required>
        </label>
        <label>LC Identifier of Cycle:
          <input name="item[cycleID]" value="<%=item.cycleID%>" type="text">
        </label>
        <label>Opus Number: 
          <input name="item[opusNumber]" value="<%=item.opusNumber%>" type="text">
        </label>
		<label>Composer: 
          <input name="item[comp]" value="<%=item.comp%>" type="text">
		</label>
        <label>LC Identifier of Composer:
          <input name="item[compID]" value="<%=item.compID%>" type="text">
        </label>
		<label>Composer Nationality: 
          <input name="item[compNat]" value="<%=item.compNat%>" type="text">
        </label>
		<label>Genre: 
          <input name="item[genre]" value="<%=item.genre%>" type="text">
        </label>
		<label>Difficulty: 
          <input name="item[diff]" value="<%=item.diff%>" type="text">
        </label>
        <label>Description:
            <textarea name="item[cycleDescription]"cols="50" rows="10" ><%=item.cycleDescription%></textarea>
        </label>
        <button>Update</button>
      </form>
</div>
  </body>
</html>
